{% extends 'base.html.twig' %}

{% block title %}Service de la soupe du Sacré Choeur{% endblock %}

{% block body %}
    <style>
        .border-bottom-blue {
            border-bottom-color: #2196F3 !important;
        }
    </style>
    <div class="container">
        <h2>Service de la soupe du Sacré Choeur</h2>

        <div class="row">
            <div class="col m6 s12">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}. Veuillez réessayer.</div>
                    {% endif %}
                    <p class="flow-text">Ne remplissez que l'adresse email si vous avez déjà rempli ce formulaire une fois.</p>
                    <label for="firstaname" class="sr-only">Prénom</label>
                    <input type="text" name="firstname" id="firstname" class="form-control border-bottom-blue" placeholder="Prénom" autofocus>
                    <label for="name" class="sr-only">Nom</label>
                    <input type="text" name="lastname" id="name" class="form-control border-bottom-blue" placeholder="Nom">
                    <label for="phone" class="sr-only">Téléphone</label>
                    <input type="tel" name="phone" id="phone" class="form-control border-bottom-blue" placeholder="Téléphone">
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" name="email" id="inputEmail" class="form-control border-bottom-blue" placeholder="Email" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                    <button class="btn btn-lg btn-primary blue" type="submit">
                        Choisir une date
                    </button>
                </form>
            </div>
            <div class="col s12 m6">
                <p class="flow-text"></p>

            </div>
        </div>
    </div>
{% endblock %}
