<p>
    Bonjour,
    <br><br>
    Vous êtes inscrit pour le service de la soupe du sacré coeur demain soir et nous vous remercions pour votre engagement.
    <br><br>
    En cas d'imprévu et si vous ne trouvez pas de remplaçant, merci de vous désinscrire du site afin de ne pas bloquer votre place et de prévenir par mail ou SMS le responsable du soir que vous retrouverez sur le site.
    <br><br>
    Le service de la soupe vous remercie !
    <br><br>
    <a href="https://www.soupe-sacre-coeur.ovh/home">Lien vers les inscriptions</a>
</p>