<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Soupe Sacré Coeur{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
            <script type="text/javascript">
                var elems = document.querySelectorAll('.modal');
                 M.Modal.init(elems, {});
            </script>
        {% endblock %}
    </body>
</html>
